.App {
  text-align: center;
}

.container {
  width: 85%;
  max-width: 1080px;
  margin: 0 auto;
}

.budgetOverview {
  display: flex;
  justify-content: space-around;
}

.newEntryForm {
  display: flex;
  justify-content: space-around;
}

.amountInput,
.categoryInput {
  display: flex;
  flex-direction: column;
}

.entry-card {
  display: flex;
  justify-content: space-around;
}
