@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* STYLING FOR APP ================ */

/* FONTS */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 125%;
}

/* default styling removal */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
a:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  padding: 0;
}

/* reusable stylings */
.container {
  width: 85%;
  max-width: 1080px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

input {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  outline: none;
  padding: 10px;
  font: 1rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4px;
}
input:focus {
  border-color: #85b7d9;
}

select {
  width: 100%;
  height: auto;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4px;
  padding: 10px;
}

.field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.field label {
  font-weight: 700;
}

.button {
  background-color: rgb(224, 225, 226);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}

.blue {
  background-color: #2185d0;
  color: #fff;
}
.blue:hover,
.blue:focus,
.blue:active {
  background-color: #1678c2;
}

.green {
  background-color: #21ba45;
  color: #fff;
}
.green:focus,
.green:hover,
.green:active {
  background-color: #16ab39;
}

.red-text {
  color: #db2828;
  font-weight: 700;
}

.red {
  background-color: #db2828;
  color: #fff;
}
.red:hover,
.red:focus,
.red:active {
  background-color: #990202;
}

.segment {
  margin: 1rem 0;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.hidden {
  display: none;
}

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav h1 {
  margin: 0;
}

nav a {
  transition: all 0.3s;
}
nav a:hover,
nav a:focus {
  color: #1e70bf;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  column-gap: 50px;
}

/* Homepage */
.homepage {
  text-align: center;
  position: relative;
}

.homepage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.homepage a {
  padding: 10px 15px;
  transition: all 0.3s;
}
.homepage a:hover,
.homepage a:focus {
  color: #1e70bf;
}

.homepage .button {
  transition: all 0.3s;
}
.homepage .button:hover,
.homepage .button:focus {
  transform: scale(1.1);
  background-color: #cacbcd;
}

/* create new budget sheet */
.create-new-sheet {
  width: 60%;
  margin: 0 auto;
}

.create-new-sheet .submit-button {
  margin-top: 20px;
}

.add-categories {
  display: flex;
  justify-content: space-between;
}
.add-categories input {
  width: 100%;
}

.category-list {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(224, 225, 226);
  border-radius: 4px;
  row-gap: 10px;
  padding: 10px;
}

.category-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(224, 225, 226);
  border-radius: 4px;
  padding: 10px;
}

.instructions {
  width: 60%;
  margin: 1rem auto;
}

/* ListAllBudgetSheets */
.budget-sheet-link-overview {
  display: flex;
  justify-content: space-between;
}

.budget-sheet-link-button {
  margin-right: 1rem;
}

/* Displaying specific sheet */

.newEntryForm,
.budgetOverview {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.new-entry-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

table {
  width: 100%;
  margin: 1rem 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4px;
}

table th {
  text-align: left;
  background-color: 249, 250, 251;
}

tr th {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  padding: 5px;
}

tr th:first-child {
  border-left: none;
}

tr td {
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding: 11px;
}

tr td:first-child {
  border-left: none;
}

table tr:last-child td {
  border-bottom: none;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Modal */
.confirm-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 501;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  row-gap: 10px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;
}

.delete-modal-buttons {
  display: flex;
  column-gap: 10px;
}
